select {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 20px 0;
  font-size: 16px;
}

option {
  padding: 10px;
  font-size: 16px;
}

input.search-bar {
  width: 200px;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

.caught {
  border: 2px solid green;
  color: green;
}

.search-bar {
  margin-right: 10px;
}

label {
  margin-left: 10px;
  font-size: 1rem;
}

input[type="checkbox"] {
  margin-right: 5px;
}
